.user-background {
    margin-top: 0px;
    margin-bottom: 0px;
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

.user-data {
    /* overflow: hidden; */
    /* overflow-y: auto; */
}

.padding-horizonta-3perCent {
    padding: 0px 3%;
}

.clean-cart > i {
    font-size: 22px;
    position: relative;
    margin-right: 10px;
}

.clean-cart > i > i {
    /* position: absolute; */
    /* left: 11px; */
    /* bottom: 3px; */
    /* font-size: 16px; */
    /* color: white; */
    /* text-shadow: 2px 1px #333333; */
}

.clean-cart > span {
    vertical-align: text-bottom;
}