.logo-cebrace {
    background-image: url('/assets/images/logo-cebrace.png');
    background-size: 100% 100%;
    width: 255px;
    color: transparent;
    /* margin: 2%; */
    height: 94px;
    /* max-width: 180px; */
    max-height: 120px;
    display: inline-block;
}

#layout-header {
    min-height: 60px;
    border-bottom: 1px solid #428bca;
    box-shadow: 0px 2px 10px 0px #428bca;
}

#layout-content {
    height: 100%;
    position: relative;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
}

#layout-middle .conteudo {
    height: 100%;
    /* width: 100%; */
    position: relative;
    overflow: auto;
}

#layout-middle .conteudo > div {
    padding: 0px 15px;
}

#layout-content > div {
    height: 100%;
    position: relative;
    overflow: hidden;
    overflow-y: auto;
}

#layout-left {
    background-color: white;
}

#layout-right {
    background-color: white;
}

#layout-top {

}

@media (max-width: 768px) {

    #layout-content > div {
        position: absolute;
        top: 0;
        bottom: 0;
        transition: all 0.2s;
        padding: 0;
        overflow-y: auto;
    }

    #layout-right {
        right: 0;
        /* border-left: 1px solid #ddd; */
        background-color: white;
        z-index: 2;
        left: 100%;
    }

    #layout-right.active {
        left: 0;
    }

    #layout-middle {
        left: 0;
        right: 0;
    }

    #layout-left {
        border-right: 1px solid #ddd;
        background-color: white;
        left: 0;
        z-index: 2;
        right: 100%;
    }

    #layout-left.active {
        right: 0;
    }
}

@media (min-width: 769px) {
    #layout-content > div {
        height: 100%;
        transition: all 0.2s;
        padding: 0;
    }

    #layout-right {
        border-left: 1px solid #ddd;
        width: 0%;
    }

    #layout-right.active {
        width: 50%;
    }

    #layout-middle {
        padding: 2px;
        width: 100%;
        margin: 0;
        padding: 0 !important;
    }

    #layout-left {
        border-right: 1px solid #ddd;
        width: 0%;
    }

    #layout-left.active {
        width: 50%;
    }

}

.loading-screen {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background-color: white;
}

.loading-screen .sk-cube-grid {
    max-width: 150px;
    max-height: 150px;
    transition: all 0.2s;
    transform: translate(-50%, -50%);
    left: 50%;
    top: 50%;
    width: 40%;
    height: 50%;
    position: absolute;
}

.loading-screen .sk-cube-grid .sk-cube {
    width: 45%;
    height: 45%;
    background-color: rgb(66, 139, 202);
    margin: 1%;
    border-radius: 0px;
    float: left;
    -webkit-animation: sk-cubeGridScaleDelay 1.3s infinite ease-in-out;
    animation: sk-cubeGridScaleDelay 1.3s infinite ease-in-out;
}

.loading-screen .sk-cube-grid .sk-cube1 {
    -webkit-animation-delay: 0.2s;
    animation-delay: 0.2s;
}

.loading-screen .sk-cube-grid .sk-cube2 {
    background-color: rgb(254, 210, 97);
    -webkit-animation-delay: 0.3s;
    animation-delay: 0.3s;
}

.loading-screen .sk-cube-grid .sk-cube3 {
    background-color: rgb(254, 210, 97);
    -webkit-animation-delay: 0.4s;
    animation-delay: 0.4s;
}

.loading-screen .sk-cube-grid .sk-cube4 {
    -webkit-animation-delay: 0.1s;
    animation-delay: 0.1s;
}

.loading-screen .sk-cube-grid .sk-cube5 {
    background-color: rgba(255, 255, 255, 0.82);
    -webkit-animation-delay: 0.2s;
    animation-delay: 0.2s;
}

.loading-screen .sk-cube-grid .sk-cube6 {
    background-color: rgba(255, 255, 255, 0.82);
    -webkit-animation-delay: 0.3s;
    animation-delay: 0.3s;
}

.loading-screen .sk-cube-grid .sk-cube7 {
    -webkit-animation-delay: 0s;
    animation-delay: 0s;
}

.loading-screen .sk-cube-grid .sk-cube8 {
    -webkit-animation-delay: 0.1s;
    animation-delay: 0.1s;
}

.loading-screen .sk-cube-grid .sk-cube9 {
    -webkit-animation-delay: 0.2s;
    animation-delay: 0.2s;
}

@-webkit-keyframes sk-cubeGridScaleDelay {
    0%, 70%, 100% {
        -webkit-transform: scale3D(1, 1, 1);
        transform: scale3D(1, 1, 1);
    }
    35% {
        -webkit-transform: scale3D(0, 0, 1);
        transform: scale3D(0, 0, 1);
    }
}

@keyframes sk-cubeGridScaleDelay {
    0%, 70%, 100% {
        -webkit-transform: scale3D(1, 1, 1);
        transform: scale3D(1, 1, 1);
    }
    35% {
        -webkit-transform: scale3D(0, 0, 1);
        transform: scale3D(0, 0, 1);
    }
}

@-webkit-keyframes sk-cubeGridRoll {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    25% {
        -webkit-transform: rotate(45deg);
        transform: rotate(45deg);
    }
    50% {
        -webkit-transform: rotate(90deg);
        transform: rotate(90deg);
    }
    75% {
        -webkit-transform: rotate(180deg);
        transform: rotate(180deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(270deg);
    }
}
