<div class="row dctv-tabela">
    <div class="col-xs-12 form-group">
        <div class="row" ng-if="eExibirControles()">
            <div class="col-xs-12 col-sm-3 col-md-1">
                <label>Menu</label>
                <dctv-botao-menu entradas="obterMenuTabela()" classe="'btn-form-control btn-default'" lista-canto-direito="true"></dctv-botao-menu>
            </div>
            <div class="col-xs-12 col-sm-9 col-md-2" ng-if="eOrdenar()">
                <dctv-ordenador ordenacoes="obterOrdenacoes()" lista="obterListaFiltrada()" ao-processar-lista="aoOrdenarLista" span-controladores="12"></dctv-ordenador>
            </div>
            <div class="col-xs-12 col-md-6" ng-if="ePaginacao()&&!ePaginacaoEmLista()">
                <dctv-paginacao lista="obterListaOrdenada()" ao-processar-lista="aoPaginarLista"></dctv-paginacao>
            </div>
            <div class="col-xs-12 col-md-3" ng-if="eFiltrar()">
                <dctv-filtro atributos-filtro-string="obterFiltros()" ordenacoes="obterOrdenacoes()" lista="obterLista()" ao-processar-lista="aoFiltrarLista" span-controladores="12"></dctv-filtro>
            </div>
        </div>
    </div>
    <div class="col-xs-12 form-group">
        <div class="tabela">
            <div class="tabela-linha tabela-cabecalho equal-height">
                <div class="tabela-controladores equal-height">
                    <checkbox ng-if="eSelecao()" class="btn-checkbox" ng-model="selecionarTudo" ng-change="alternarSelecaoLista(selecionarTudo, obterListaPaginada())" indeterminate="true"></checkbox>
                </div>
                <div class="tabela-colunas equal-height">
                    <div class="coluna" style="width:{{obterColunaLargura(coluna,'%;')}}" ng-repeat="coluna in obterColunas()">
                        <span ng-bind-html="obterColunaTitulo(coluna)"></span>
                    </div>
                </div>
            </div>
            <div class="tabela-linha tabela-corpo" ng-class="{'selecionada':obterListaSelecao()[obterListaIndiceItem(linha,obterLista())]}" ng-repeat="linha in obterListaPaginada()">
                <div class="tabela-linha equal-height">
                    <div class="tabela-controladores equal-height">
                        <checkbox ng-if="eSelecao()" class="btn-checkbox" ng-model="obterListaSelecao()[obterListaIndiceItem(linha,obterLista())]"></checkbox>
                        <dctv-botao-menu entradas="obterMenuLinha()" classe="'btn-xs btn-default'" item="linha"></dctv-botao-menu>
                        <dctv-botao-menu entradas="obterSubTabelaMenuExpancao(linha)" classe="'btn-xs btn-default'" classe-icone="'fa-expand'" item="linha"></dctv-botao-menu>
                    </div>
                    <div class="tabela-colunas equal-height">
                        <div class="coluna" style="width:{{obterColunaLargura(coluna,'%;')}}" ng-repeat="coluna in obterColunas()">
                            <span data-titulo="{{obterColunaTitulo(coluna)}}" ng-if="!eDiretiva(coluna)" ng-bind-html="obterColunaListaValor(linha,coluna)"></span>
                            <span data-titulo="{{obterColunaTitulo(coluna)}}" ng-if="eDiretiva(coluna)" ng-include="'app/common/directive/dctv-tabela/dctv-tabela-diretivas.tpl.html'"></span>
                        </div>
                    </div>
                </div>
                <div class="tabela-linha" uib-collapse="obterSubTabelaExpancao(linha,subTabela)" ng-repeat="subTabela in obterSubTabelas()">
                    <dctv-tabela colunas="obterSubTabelaColunas(subTabela)" lista="obterSubTabelaLinhas(subTabela,linha)" opcoes="obterSubTabelaOpcoes(subTabela)"></dctv-tabela>
                </div>
            </div>
        </div>
    </div>
    <div class="col-xs-12">
        <div class="row">
            <div class="col-xs-12 form-group" ng-if="ePaginacao()&&ePaginacaoEmLista()">
                <dctv-paginacao lista="obterListaOrdenada()" ao-processar-lista="aoPaginarLista" paginacao-lista="ePaginacaoEmLista()" exibir-itens-por-pagina="false"></dctv-paginacao>
            </div>
        </div>
    </div>
</div>