<div class="container-fluid navbar-color">
    <div class="navbar-header">
        <a class="navbar-brand navbar-image" href="#">
            <image src="../assets/images/logo-guiche-virtual.png" alt="guiche-virtual" style="max-width: 150px;"></image>
        </a>
    </div>
    <div class="navbar-collapse collapse">
        <ul class="nav navbar-nav navbar-right">
            <li><a href="#">Atendimento</a></li>
            <li><a href="#">Minhas Viagens</a></li>
        </ul>
    </div>
</div>