.container-fluid#credential-authentication {
    height: 100%;
    background-color: white;
}

.container-fluid#credential-authentication > .row {
    height: 100%;
    overflow: hidden;
    overflow-y: scroll;
}

.container-fluid#credential-authentication > .row > div {
    height: 100%;
    border-left: 1px solid #cccccc;
}

.login-noticias {
    background-position: 50% 50%;
    background-size: 68%;
    background-repeat: no-repeat;
}

.formulario-authentication {
    margin-top: 10%;
}

.formulario-authentication-loading {
    background-color: rgba(255, 255, 255, 0.81);
    position: absolute;
    bottom: 0;
    top: 100%;
    right: 0;
    left: 0;
    overflow: hidden;
    transition: all 0.2s;
}

.formulario-authentication-loading .sk-cube-grid {
    max-width: 200px;
    max-height: 150px;
    transition: all 0.2s;
    transform: translate(-50%, -50%);
    left: 50%;
    top: 50%;
    width: 40%;
    height: 50%;
    position: absolute;
}

.formulario-authentication-loading .sk-cube-grid .sk-cube {
    width: 45%;
    height: 45%;
    background-color: rgb(66, 139, 202);
    margin: 1%;
    border-radius: 0px;
    float: left;
    -webkit-animation: sk-cubeGridScaleDelay 1.3s infinite ease-in-out;
    animation: sk-cubeGridScaleDelay 1.3s infinite ease-in-out;
}

.formulario-authentication-loading .sk-cube-grid .sk-cube1 {
    -webkit-animation-delay: 0.2s;
    animation-delay: 0.2s;
}

.formulario-authentication-loading .sk-cube-grid .sk-cube2 {
    background-color: rgb(254, 210, 97);
    -webkit-animation-delay: 0.3s;
    animation-delay: 0.3s;
}

.formulario-authentication-loading .sk-cube-grid .sk-cube3 {
    background-color: rgb(254, 210, 97);
    -webkit-animation-delay: 0.4s;
    animation-delay: 0.4s;
}

.formulario-authentication-loading .sk-cube-grid .sk-cube4 {
    -webkit-animation-delay: 0.1s;
    animation-delay: 0.1s;
}

.formulario-authentication-loading .sk-cube-grid .sk-cube5 {
    background-color: rgba(255, 255, 255, 0.82);
    -webkit-animation-delay: 0.2s;
    animation-delay: 0.2s;
}

.formulario-authentication-loading .sk-cube-grid .sk-cube6 {
    background-color: rgba(255, 255, 255, 0.82);
    -webkit-animation-delay: 0.3s;
    animation-delay: 0.3s;
}

.formulario-authentication-loading .sk-cube-grid .sk-cube7 {
    -webkit-animation-delay: 0s;
    animation-delay: 0s;
}

.formulario-authentication-loading .sk-cube-grid .sk-cube8 {
    -webkit-animation-delay: 0.1s;
    animation-delay: 0.1s;
}

.formulario-authentication-loading .sk-cube-grid .sk-cube9 {
    -webkit-animation-delay: 0.2s;
    animation-delay: 0.2s;
}

@-webkit-keyframes sk-cubeGridScaleDelay {
    0%, 70%, 100% {
        -webkit-transform: scale3D(1, 1, 1);
        transform: scale3D(1, 1, 1);
    }
    35% {
        -webkit-transform: scale3D(0, 0, 1);
        transform: scale3D(0, 0, 1);
    }
}

@keyframes sk-cubeGridScaleDelay {
    0%, 70%, 100% {
        -webkit-transform: scale3D(1, 1, 1);
        transform: scale3D(1, 1, 1);
    }
    35% {
        -webkit-transform: scale3D(0, 0, 1);
        transform: scale3D(0, 0, 1);
    }
}
