<div class="container-fluid" id="credential-authentication">
  <div class="row">
    <div class="hidden-xs col-sm-6 col-md-8 background-logo-vidrio-andino-hd login-noticias">
    </div>
    <div class="col-xs-12 col-sm-6 col-md-4">
      <div class="row formulario-authentication">
        <div class="col-xs-12">
          <div class="row">
            <div class="col-xs-12 form-group">
              <label class="control-label">Username</label>
              <input type="text" ng-model="vm.authentication.username" placeholder="Username" class="form-control">
            </div>
          </div>
          <div class="row">
            <div class="col-xs-12 form-group">
              <label class="control-label">Password</label>
              <input type="password" ng-model="vm.authentication.password" placeholder="Password" class="form-control">
            </div>
          </div>
          <div class="row">
            <div class="col-xs-12 form-group">
              <button class="btn btn-cebrace-mixed btn-full-width btn-now-wrap" ng-click="vm.Authenticate()">
                <i class="fa fa-sign-in">
                </i>
                <span>Authenticate</span>
              </button>
            </div>
          </div>
          <hr/>
        </div>
      </div>
      <div class="absolute-full-size formulario-authentication-loading">
        <div class="sk-cube-grid full-centered">
          <div class="sk-cube-grid">
            <div class="sk-cube sk-cube1"></div>
            <div class="sk-cube sk-cube2"></div>
            <div class="sk-cube sk-cube3"></div>
            <div class="sk-cube sk-cube4"></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
