<div id="layout-header" class="row">
    <div class="col-xs-12">
        <div class="row">
            <div class="col-xs-12 noticia">
                <span>New videos have been added!!</span>
            </div>
        </div>
        <div class="row" id="layout-top">
            <div class="col-xs-6 vleft" style="padding-left: 30px;">
              <h2 style="margin: 0;">Crossover Video Portal</h2>
            </div>
            <div class="col-xs-2 vcenter" style="padding: 0%;">
                <a class="background-logo-vidrio-andino-small logo" ui-sref="app.home"></a>
            </div>
            <div class="col-xs-4 vright" style="padding-right: 30px;">
                <i class="fa fa-user" ng-click="vm.menu.rightToggle();"></i>
            </div>
        </div>
    </div>
</div>
