.navbar-image {
    width: 185px;
    background-position: 0px 4px;
    background-size: 160px;
    background-repeat: no-repeat;
}

.navbar-color {
    background-color: #2687e9;
}

.navbar-icons {
    margin-left: -15px;
    margin-right: -15px;
    text-align: right;
    background-color: white;
}