.background-space-view {
    background-image: url('../assets/images/space-view.png');
}

.background-logo-vidrio-andino-small {
    background-image: url('../assets/images/logo-vidrio-andino-small.png');
}

.background-logo-vidrio-andino-big {
    background-image: url('../assets/images/logo-vidrio-andino-big.jpg');
}

.background-logo-vidrio-andino-hd {
    background-image: url('../assets/images/logo-vidrio-andino-hd.png');
}


.background-vidrio-andino-symbol-hd{
    background-image: url('../assets/images/vidrio-andino-symbol-hd.jpg');
}

.background-user-default {
    background-image: url('../assets/images/user-default.png');
}
.background-vidrio-andino-symbol-hd{
    background-image: url('../assets/images/vidrio-andino-symbol-hd.jpg');
}

.background-banner{
    background-image: url('../assets/images/banner-images.jpg');
}