.dctv-input-data {
}

.dctv-input-data .input-group {
    border: 1px solid #ccc;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    -webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}

.dctv-input-data .input-group input.form-control {
    border: none;
    box-shadow: none;
    width: 100%;
}

.dctv-input-data .input-group .input-group-addon {
    border: none;
    background: white;
}

.dctv-input-data .input-group .input-group-addon.time-picker {
    padding: 0;
    width: 30%;
}

.dctv-input-data .input-group .input-group-addon.time-picker input {

    padding: 0;

    width: 100% !important;
}

.dctv-input-data .input-group .input-group-addon .divider {
    border-right: 1px solid black;
    height: 22px;
}

.dctv-input-data .btn.btn-default.btn-sm.pull-left {
    margin-right: 2px;
}

.dctv-input-data input::-webkit-calendar-picker-indicator {
    display: none;
}

.dctv-input-data input[type="date"]::-webkit-input-placeholder {
    visibility: hidden !important;
}

.dctv-input-data input[type="date"]::-webkit-inner-spin-button {
    display: none;
}
